<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Employee</title>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/icon/css/all.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<script type="text/javascript" th:scr="@{/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/employee.js}"></script>
    <script type="text/javascript" th:scr="@{/js/search.js}"></script>
</head>
<body>
	<div class="container-fluid">
		<!-- menu top-->
		<div class="row navbar navbar-expand-lg bg-dark navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    	<a class="nav-link" href="/parking/index"><i class="fas fa-home"></i> Trang chủ </a></li>
                    <li class="nav-item dropdown">
                    	<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> 
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><i class="fas fa-cog"></i>Hồ sơ</a> 
                            <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
                        </div>
                    </li>
                </ul>
                <div class="col-sm-5">
                    <form class="input-group" th:action="@{/data/search}" method="get" id="formSearch">
						<input type="text" class="form-control" placeholder="Tìm kiếm sinh viên..." name="keyword" id="key">
						<div class="input-group-append">
							<button class="btn btn-success">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</form>
					<div id = "mess" class="text-danger"></div>
                </div>
            </div>
        </div><!-- end menu top -->
        <!--  content -->
        <div class="row">
        	<!-- menu left -->
        	<div class="col-md-2 col-sm-6 col-xs-12">
        		<ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/parking/index"><i class="fas fa-tachometer-alt"></i> DashBoard</a></li>
                    <li class="nav-item dropdown">
                    	<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    		<i class="fas fa-user-friends"></i> Quản lý nhân viên
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/parking/employee/current">
                            	<i class="fas fa-list"></i> Danh sách nhân viên
                            </a> 
                        </div>
                    </li>
                     <li class="nav-item dropdown">
                    	<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    		<i class="fas fa-user-friends"></i> Quản lý tài khoản
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/parking/account/current">
                            	<i class="fas fa-list"></i> Danh sách tài khoản
                            </a> 
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <i class="fas fa-parking"></i> Quản lý bãi đỗ
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/parking/park/add">
                            	<i class="fas fa-plus"></i> Thêm bãi đỗ
                            </a>
                            <a class="dropdown-item" href="/parking/park/current">
                            	<i class="fas fa-list"></i> Danh sách bãi đỗ
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <i class="fas fa-ticket-alt"></i> Quản lý vé
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/parking/ticket/add">
                            	<i class="fas fa-plus"></i> Thêm lọai vé
                            </a>
                            <a class="dropdown-item" href="/parking/ticket/current">
                            	<i class="fas fa-list"></i> Danh sách loại vé
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <i class="fas fa-ticket-alt"></i> Quản lý vé tháng
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/parking/register/add">
                            	<i class="fas fa-plus"></i> Đăng ký vé tháng
                            </a>
                            <a class="dropdown-item" href="/parking/register/current">
                            	<i class="fas fa-list"></i> Danh sách đăng ký
                            </a> 
                            <a class="dropdown-item" href="/parking/stamp/add">
                            	<i class="far fa-money-bill-alt"></i> Mua tem vé tháng
                            </a>
                            <a class="dropdown-item" href="/parking/stamp/current">
                            	<i class="fas fa-clipboard-list"></i> Danh sách mua tem
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            <i class="far fa-calendar-check"></i> Xe vào bãi
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/parking/checkin/add">
                            	<i class="fas fa-plus"></i> Vào bãi đỗ
                            </a>
                            <a class="dropdown-item" href="/parking/checkin/current">
                            	<i class="fas fa-list"></i>Danh sách vào bãi đỗ
                            </a>
                            <a class="dropdown-item" href="/parking/checkout/add">
                            	<i class="fas fa-plus"></i> Xe ra bãi
                            </a>
                            <a class="dropdown-item" href="/parking/checkout/current">
                            	<i class="fas fa-plus"></i> Danh sách ra khỏi bãi
                            </a>
                        </div>
                    </li>
                </ul>
        	</div><!-- end menu left-->
        	<!-- content right-->
        	<div class="col-md-10 col-sm-10 col-xs-12 my-3">
        		<div class="col-sm-12 content-form">
                    <div class="form-group row">
                        <h2 class="text-success col-sm-12">Danh sách nhân viên</h2>
                        <div class="col-sm-8"></div>
                    </div>
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th>Mã nhân viên</th>
                            <th>Tên nhân viên</th>
                            <th>Ngày sinh</th>
                            <th>Giới tính</th>
                            <th>Số căn cước</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Thực hiện</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="emp : ${ employee}">
                                <td th:text="${emp.id}"></td>
                                <td th:text="${emp.fullName}"></td>
                                <td th:text="${#dates.format(emp.birthDate, 'dd-MM-yyyy')}"></td>
                                <td th:text="${emp.gender}"></td>
                                <td th:text="${emp.identity}"></td>
                                <td th:text="${emp.phone}"></td>
                                <td th:text="${emp.address}"></td>
                                <td>
                                	<a th:href="@{/parking/employee/detail/} + ${emp.user.id}"><i class="fas fa-edit"></i> Sửa</a>
                                    <a th:href="@{/parking/employee/delete/} + ${emp.id}" data-toggle="modal" data-target="#delete" class="deleteemployee" th:data-id="${emp.id}"><i class="fas fa-trash-alt"></i> Xóa</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Xóa nhân viên</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">Bạn có chắc chắn muốn xóa không</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    <form method="GET" th:action="@{/employee/delete/}+${id}" id="formDelete">
                                        <button class="btn btn-primary" type="submit">Xóa bỏ</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        	</div><!-- end content right-->
        </div><!-- end content -->
	</div>
</body>
</html>